/* .dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {

  pointer-events: none;
} */



.submenu-header {
  font-size: 2rem;
}

.btn-warning {
  background-color: #FF7A59;
  color: white;
}

.btn-outline-warning:hover {
  background-color: #fcc3b4;
  color: #FF7A59;
  border: 1px solid #FF7A59;
}

.btn-outline-warning {
  border: 1px solid #FF7A59;
  color: #FF7A59;
}

.btn-warning:hover {
  opacity: .5;
  background-color: #FF7A59;
  color: white;
}

.hero-header {
  font-size: 46px;
  font-weight: 600;
}

.AtBg {
  background-color: #FFF2EE;
  background-image: url(./images/hero.svg), url(./images/clouds-desktop.svg);
  background-position: bottom center, right top;
  background-size: 1350px, 700px;
  background-repeat: no-repeat, no-repeat;
  height: 100vh;
}

.hero-cta {
  padding: 1.5rem;
}

.banner-bg {
  background-color: #F5F8FA;
}

.crm-card {
  background-color: #fff;
  max-width: 600px;
  margin-bottom: 2rem;
  padding: 2.5rem;
}

.crm-card ul {
  margin-left: 1rem;
  padding: 0;
  margin-top: 1rem;
}

.feature-font {
  font-size: 1.2rem;
}


.community-bg {
  background-color: #00BAA9;
  color: white;
}

.com-card-border .col-12:not(:last-child) {
  border-right: 1px solid #fff;
}

.com-card-border .col-12 {
  border-bottom: 1px solid #fff;
  padding: 1.5rem 0;
}

.com-card-border2 .col-12:not(:last-child) {
  border-right: 1px solid #fff;
}

.com-card-border2 .col-12 {
  border-bottom: 0;
  padding: 2rem 0;
}

.integration {
  width: 60%;
}

.lg-top-margin {
  margin-top: 6rem;
}

.customers img {
  width: 100%;
}

.wcta-img {
  width: 100%;
}

.list-unstyled {
  list-style: none;
}

.footer-bg {
  background-color: #2D3E50;
}

.footer-bg h6 {
  color: #fff;
}

.footer-bg a {
  color: #cbd6e2;
}

.footer-bg p {
  font-size: 12px;
  margin-bottom: 12px;
}

.border-left {
  border-left: 1px solid #fff;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.large-menu {
  min-width: 1000px !important;
  padding-top: 0;
  padding-bottom: 0;
}

.menu-card {
  border-radius: 2px;
  padding: 1rem;
  /* box-shadow: 0 4px 8px 0 rgba(121, 121, 121, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19); */
}

.menu-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(121, 121, 121, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
}

.sub-menu-bg {
  background-color: #f5f8fa;
}